## Timer

In [35]:
def timed(fn):
    from time import perf_counter
    
    def inner(*args, **kwargs):
        start = perf_counter()
        result = fn(*args, **kwargs)
        end = perf_counter()
        print(f'Function {fn.__name__} run time: {round(end-start)}s')
        return result
    
    return inner

In [36]:
@timed
def factorial(n):
    from functools import reduce
    return reduce(lambda a, b: a*b, range(1, n+1))

In [37]:
factorial(5)

Function factorial run time: 0s

120

## Dataframe size tracker

In [38]:
import pandas as pd
import numpy as np

In [44]:
df1 = pd.DataFrame({'name': ['A', 'B', 'C', 'D'],
                        'quantity': np.random.randint(10, 100, 4),
                        'unit_price': np.random.randint(1, 100, 4)})
df1

  name  quantity  unit_price
0    A        88          38
1    B        22          14
2    C        15          89
3    D        92          91

In [45]:
def df_size_tracker(fn):
    
    def inner(df, *args, **kwargs):
        rows_0 = df.shape[0]
        cols_0 = df.shape[1]
        result = fn(df, *args, **kwargs)
        rows_1 = result.shape[0]
        cols_1 = result.shape[1]
        print(f'Change in number of rows: {rows_1 - rows_0} \n Change in number of columns: {cols_1 - cols_0}')
        return result
    
    return inner

In [47]:
@df_size_tracker
def total_price(df):
    df['total_price'] = df['quantity'] * df['unit_price']
    return df

In [48]:
total_price(df1)

Change in number of rows: 0
 Change in number of columns: 1

  name  quantity  unit_price  total_price
0    A        88          38         3344
1    B        22          14          308
2    C        15          89         1335
3    D        92          91         8372